.intro p{
	font-size: 25px;
}

.time ul li{
	font-size: 23px;
}

.timeli ul li{
	font-size: 18px;
}

.cperrault p{
	font-size: 15px;
}

.grimm{
	background-color: #9c5a5a;
}

div.large-3.columns img {
	padding-bottom: 20px;
}

.grimm p{
	font-size: 15px;
}

.large-3.columns h3{
	color: #9c5a5a;
}

.large-10.columns.center{
	padding-left: 170px;
}
.center
{
	margin-left:auto;
	margin-right:auto;
	width:80%;
}
.eval p{
	line-height: 2.5em;
}

a{
	text-decoration: none;
}
div.intro iframe {
    margin: 0 auto;
    background-color: #777;
    display: block;
}